.container.devise-section
  .row
    .col-lg-6
      = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
        %fieldset
          %legend= t('session.sign_in')
          / E-mail field
          .form-group
            = f.label :email, 'E-mail:', class: 'col-lg-2 control-label'
            .col-lg-10
              = f.email_field :email, class: 'form-control', autofocus: true
          / Password field
          .form-group
            = f.label :password, 'Password:', class:'col-lg-2 control-label'
            .col-lg-10
              = f.password_field :password, class: 'form-control', autocomplete: "off"
              - if devise_mapping.rememberable?
                .checkbox
                  %label
                    = f.check_box :remember_me
                    = f.label :remember_me
          .form-group
            .col-lg-10.col-lg-offset-2
              = f.submit 'Sign in', class: 'btn btn-primary'
  = render 'shared/links'
