!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %strong= t('mailer.dear', name: @user[:name])
    %p
      = t('mailer.ad_created', site_name: @site_name)
    %ul
      %li
        = t('mailer.ad_title')
        \: #{@post.title}
      - if @post['giving']
        %li
          = t('ad.giving_away')
          \:
          %ul
            - @post.items.each do |item|
              %li= item.name
        %li
          = t('mailer.where_pick_up')
          \: #{@post.location.full_address}
      - else
        %li
          = t('ad.accepting')
          \:
          %ul
            - @post.items.each do |item|
              %li= item.name
        %li
          = t('mailer.where_to_drop')
          \: #{@post.location.full_address}
    %p
      = t('mailer.description')
      \: #{simple_format(@post.description)}
    %hr/
    %p
      = t('mailer.ad_will_expire', day_number: @max_expire_days , expire_date: @post.expire_date )
    - if !@user[:is_anon]
      %p
        = t('mailer.manage_post_html', :admin_panel => link_to(t('mailer.admin_panel'), @full_admin_url))
    %p
      = t('mailer.thanks')
      %br/
      = t('mailer.signature', name: @site_name)
