= t('mailer.dear', name: @user[:name])
= t('mailer.ad_created', site_name: @site_name)
\:

\- #{t('mailer.ad_title')}: #{@post.title}
- if @post.giving
  \- #{t('ad.giving_away')}:
  - @post.items.each do |item|
    \- #{item.name}
  \- #{t('mailer.where_pick_up')}: #{@post.location.full_address}
- else
  \- #{t('ad.accepting')}:
  - @post.items.each do |item|
    \- #{item.name}
  \- #{t('mailer.where_to_drop')}: #{@post.location.full_address}
= t('mailer.description')
\: #{simple_format(@post.description)}

\------------------------------------------------

\#{t('mailer.manage_ad_html', :admin_panel => link_to(t('mailer.admin_panel'), @full_admin_url))}

\#{t('mailer.ad_will_expire', day_number: @max_expire_days , expire_date: @post.expire_date )}

\#{t('mailer.thanks')}

\#{t('mailer.signature', name: @site_name)}
