- adding = current_page?(action: 'new') || current_page?(action: 'create')
.container
  .row
    #content.middle-col.col-xs-12.col-md-10
      %div
        %ul.breadcrumb
          %li
            %a{:href => "/user/managerecords"}= t('admin.manage_records')
          %li= "#{adding ? t('admin.add_item') : t('admin.edit_item')}"

      .row
        .box.col-md-12
          .box-inner
            .box-header.well{"data-original-title" => ""}
              %h2
                - if adding
                  %i.glyphicon.glyphicon-plus
                  = t('admin.new_item')
                - else
                  %i.glyphicon.glyphicon-edit
                  = t('admin.edit_item')
            - if @item && @item.errors.any?
              .alert.alert-danger
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                %strong
                  = t('admin.item.error_occurred', errors: pluralize(@item.errors.count, t('home.error.one'), t('home.error.more')))
                  \:
                %ul
                  - @item.errors.full_messages.each do |msg|
                    %li= msg
            - if flash[:name]
              .alert.alert-success
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = t('admin.item.update_success', name: flash[:name])
                %a{:href => "/user/managerecords#items"}= t('admin.back_to_records')
            - if flash[:new_name]
              .alert.alert-success
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = t('admin.item.created_success', name: flash[:new_name])
                %a{:href => "/user/managerecords"}= t('admin.back_to_records')

            .box-content
              = form_for [:user, @item], html: { id: 'itemForm', role: 'form' } do |f|

                - if !adding
                  .form-group
                    %a.btn.btn-danger.btn-delete-right.btn-setting{:href => "#"}= t('admin.item.delete_item')
                  .form-group
                    = label_tag 'nameId', t('admin.mandatory'), class:'control-label'
                  .form-inline
                    = label_tag 'id', 'Id:', class:'control-label'
                    = @item.id
                  .form-group

                -# Item name
                .form-group
                  = f.label :name, t('admin.item.name')+'*:', class:'control-label'
                  .form-inline
                    = f.text_field :name, class: 'form-control', maxlength:'90'

                / List of posts the item can be found
                .form-group
                  - if @item.posts.length > 0
                    = f.label :posts, t('admin.item.posts_promoting')+':', class:'control-label'
                    %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
                      %thead
                        %tr
                          %th ID
                          %th= t('admin.item.post_title')
                          %th= t('admin.description')
                      %tbody
                        - @item.posts.each do |post|
                          %tr
                            %td= post.id
                            %td
                              %a{:href => "/user/posts/#{post.id}/edit"}= post.title
                            %td= post.description
                  - elsif !adding
                    %strong= t('admin.item.no_post')
                %hr/
                / Submit button and cancel link
                = render 'shared/submit_section'

  %hr
  - if !adding
    / "Delete item" modal window
    = render 'delete_modal_window'

