%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      = t('registration.waiting_confirmation')
      \: #{resource.unconfirmed_email}
  %div
    = f.label :password
    %i= t('registration.leave_blank')
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %div
    = f.label :current_password
    %i= t('registration.need_current')
    %br/
    = f.password_field :current_password, autocomplete: "off"
  %div= f.submit t('home.update')
%h3= t('registration.cancel_account')
%p
  = t('registration.unhappy')
  = button_to t('registration.cancel_account'), registration_path(resource_name), data: { confirm: t('registration.you_sure') }, method: :delete
= link_to t('registration.back'), :back
