/ "Delete location" modal window
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3
          = t('admin.location.delete')
      .modal-body
        - if @location.posts && @location.posts.length > 0
          %p= t('admin.warning_posts_before_delete_location')
        %p= t('admin.delete_sure', entity: t('admin.location_name'))
      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
        = link_to t('admin.delete_confirm', entity: t('admin.location_name')), user_location_path(@location), method: :delete, class: 'btn btn-danger'
