.container
  .row
    #content.middle-col.col-xs-12.col-md-10
      -# content starts
      %div
        %ul.breadcrumb
          - if current_user.admin?
            %li
              %a{:href => "/user/managerecords"}= t('admin.manage_records')
          - else
            %li
              %a{:href => "/user/manageposts"}= t('admin.manage_your_posts')
          - if is_adding_new
            %li= t('admin.add_location')
          - else
            %li= t('admin.edit_location')
      .row
        .box.col-md-12
          .box-inner
            .box-header.well{"data-original-title" => ""}
              %h2
                - if is_adding_new
                  %i.glyphicon.glyphicon-plus
                  = t('admin.new_location')
                - else
                  %i.glyphicon.glyphicon-edit
                  = t('admin.edit_location')
            - if @location && @location.errors.any?
              .alert.alert-danger
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                %strong
                  = t('admin.location.error_occurred', errors: pluralize(@location.errors.count, t('home.error.one'), t('home.error.more')))
                  \:
                %ul
                  - @location.errors.full_messages.each do |msg|
                    %li= msg
            - if flash[:name]
              .alert.alert-success
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = t('admin.location.update_success', name: flash[:name])
                - if current_user.admin?
                  %a{:href => "/user/managerecords#locations"}= t('admin.back_to_records')
                - else
                  %a{:href => "/user/manageposts#locations"}= t('admin.back_to_posts')
            - if flash[:new_name]
              .alert.alert-success
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = t('admin.location.created_success', name: flash[:new_name])
                - if current_user.admin?
                  %a{:href => "/user/managerecords#locations"}= t('admin.back_to_records')
                - else
                  %a{:href => "/user/manageposts#locations"}= t('admin.back_to_posts')

            .box-content
              = form_for [:user, @location.becomes(Location)], html: { id: 'locationForm', class: 'form-horizontal', role: 'form' } do |f|
                %fieldset
                  - if !is_adding_new
                    .form-group
                      .col-lg-6
                        %a.btn.btn-danger.btn-delete-right.btn-setting{:href => "#"}= t('admin.location.delete')

                    %hr

                    .form-group
                      .col-lg-6
                        = label_tag :nameId, t('admin.mandatory'), class:'control-label'

                  -# Partial that contains the location form
                  = render 'shared/location_form', form: f, location: @location

                  - if !is_adding_new
                    -# List of items that can be found at this location
                    .form-group
                      .col-lg-12
                        - if @location.posts.length > 0
                          = label_tag :post_linked, t('admin.location.linked_posts')+':', class:'control-label'
                          %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
                            %thead
                              %tr
                                %th ID
                                %th= t('post.title')
                                %th= t('admin.items')
                                %th= t('post.description')
                            %tbody
                              - @location.posts.each do |post|
                                %tr
                                  %td= post.id
                                  %td
                                    %a{:href => "/user/posts/#{post.id}/edit"}= post.title
                                  %td= post.items.map{|i| i.name}.join(', ')
                                  %td= simple_format(post.description)
                        - else
                          %strong= t('admin.location.no_post')
                  -# Submit button and cancel link
                  = render 'shared/submit_section'


- if !is_adding_new
  -# "Delete location" modal window
  = render 'delete_modal_window'

#myErrorModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myErrorModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3= t('location.not_found')
      .modal-body
        %p= t('location.not_found_descr1')
        %p= t('location.not_found_descr2')
      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"} OK

- content_for :scripts do
  -# Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that create the actual map
  = render 'shared/map_scripts', include_all_scripts: false

  :javascript
    new LocationForm();
    new PostForm();
