- if flash[:page_error]
  .box-content.alerts
    .alert.alert-danger
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      = flash[:page_error]
- if flash[:success]
  .box-content.alerts
    .alert.alert-success
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      = flash[:success]