/ Javascript and CSS files to be included to draw polygon on a map (area settings page)
= javascript_include_tag 'draw/Toolbar'
= javascript_include_tag 'draw/Tooltip'
= javascript_include_tag 'draw/ext/GeometryUtil'
= javascript_include_tag 'draw/ext/LatLngUtil'
= javascript_include_tag 'draw/ext/LineUtil.Intersect'
= javascript_include_tag 'draw/ext/Polyline.Intersect'
= javascript_include_tag 'draw/ext/Polygon.Intersect'
= javascript_include_tag 'draw/draw/DrawToolbar'
= javascript_include_tag 'draw/draw/handler/Draw.Feature'
= javascript_include_tag 'draw/draw/handler/Draw.Polyline'
= javascript_include_tag 'draw/draw/handler/Draw.Polygon'
= javascript_include_tag 'draw/edit/EditToolbar'
= javascript_include_tag 'draw/edit/handler/EditToolbar.Edit'
= javascript_include_tag 'draw/edit/handler/EditToolbar.Delete'
= javascript_include_tag 'draw/Control.Draw'
= javascript_include_tag 'draw/edit/handler/Edit.Poly'
