.nested-fields.location-fields{:style => "padding-bottom: 10px;"}

  .form-group
    %hr/
  .form-group
    .col-lg-4
      %h4= t('location.new_location')

    - if current_user.present? && current_user.locations.any? && %w(new create edit update).include?(action_name) && !@is_location_edit
      -# if the user is not anonymous and has created locations in the past, then give the possibility
      -# to remove the whole "new location" section to choose an existing location
      .col-lg-4{style: "line-height: 40px;"}
        %a.btn.btn-danger.btn-sm.remove-new-location{style: 'float: right;'}
          = t('post.choose_existing')

  -# Location name
  .form-group
    = form.label :name, t('location.name'), class: 'col-lg-2 control-label'
    .col-lg-6
      = form.text_field :name, class: 'form-control help-message', maxlength:'90', |
        :data => {:content => t('location.name_help'),                             |
        :placement => 'top', :toggle => 'popover', :trigger => 'hover focus'}      |

  -# "Give full address" / "Choose area only" radio buttons
  - if Area.any?
    .form-group
      = label_tag 'loc_type', t('location.definition'), class: 'col-lg-2 control-label'
      .col-lg-6
        .radio
          %label
            = radio_button_tag 'loc_type', 'exact', true, class: 'location_type_exact'
            = t('location.definition_exact')
        .radio
          %label
            = radio_button_tag 'loc_type', 'area', false, class: 'location_type_area'
            = t('location.definition_area')

        .why-choose-section
          %a#why_choose_link{href: '#'}= t('location.why_choose_location_type')

  .exact_location_section
    -# Street number
    .form-group
      = form.label :street_number, t('location.street_number'), class: 'col-lg-2 control-label'
      .col-lg-2
        = form.text_field :street_number, class: 'form-control location_streetnumber', maxlength:'6'

    -# Street name
    .form-group
      = form.label :address, t('location.street_name'), class: 'col-lg-2 control-label'
      .col-lg-6
        = form.text_field :address, class: 'form-control help-message location_streetname', maxlength:'90', |
          :data => {:content => t('location.street_name_help'),                                             |
          :placement => 'top', :toggle => 'popover', :trigger => 'hover focus'}

    -# Postal code
    .form-group
      = form.label :postal_code, t('location.postal_code'), class: 'col-lg-2 control-label'
      .col-lg-3
        = form.text_field :postal_code, class: 'form-control location_postal_code', maxlength:'8'

  -# Geocode (latitude and longitude hidden fields)
  = form.hidden_field :latitude, value: @map_settings[:latitude], class: 'latitude'
  = form.hidden_field :longitude, value: @map_settings[:longitude], class: 'longitude'

  -# List of area ('area' type address only)
  - if Area.any?
    #area_section
      .form-group
        = form.label :area_id, t('location.area'), class: 'col-lg-2 control-label'
        .col-lg-3
          - area_data = areas.map{|a| [a.name, a.id, { 'data-latitude' => a.latitude, 'data-longitude' => a.longitude }]}
          = form.select :area_id, options_for_select(area_data, form.object.area_id), {include_blank: t('location.area_blank')}, {class: 'form-control help-message area-select',
            :data => {:content => t('location.area_help'), :placement => 'top',
            :toggle => 'popover', :trigger => 'hover focus'}}

  -# "Locate me on the map" button
  .exact_location_section
    .form-group
      .col-lg-2.control-label
      .col-lg-8
        %a#find_geocodes_from_address.btn.btn-info{"data-content" => "#{t('home.click_on_map_after')}", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => "hover"}
          = t('location.define_geocode_button')
        %span#find_geocode_loader


  -# Canvas for the map
  .form-group
    = form.label 'map-canvas-wrapper', t('location.map'), class: 'col-lg-2 control-label'
    .col-lg-10
      #map_notification_exact.map_notification
        %i= t('admin.location.map_notification_exact')

      #map.large

  -# Phone number
  .form-group
    = form.label :phone_number, t('location.phone_number'), class: 'col-lg-2 control-label'
    .col-lg-3
      = form.text_field :phone_number, class: 'form-control', maxlength:'15'

  -# Website
  .form-group
    = form.label :website, t('location.website'), class: 'col-lg-2 control-label'
    .col-lg-4
      = form.text_field :website, class: 'form-control', maxlength:'60'

  -# Description
  .form-group
    = form.label :description, t('post.location_description'), class: 'col-lg-2 control-label'
    .col-lg-6
      = form.text_area :description, class: 'help-message', cols: 40, rows: 6, |
        :data => {:content => t('location.description_help'),                  |
        :placement => 'top', :toggle => 'popover', :trigger => 'hover focus'}  |

  - if current_user
    = form.hidden_field :user_id, value: current_user.id


#why_choose_modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3
          = t('location.modal_exact_area_title')
      .modal-body
        %p
          = t('location.modal_exact_area_description', def_exact: t('location.definition_exact'))
          = t('location.modal_exact_area_description2')

        %p
          = t('location.modal_exact_area_description3')
          = t('location.modal_exact_area_description4', def_area: t('location.definition_area'))

      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"}= 'OK'
