%div{:class => "#{admin_panel? ? 'navbar' : 'navbar-inverse'} navbar-fixed-top navbar-default nav-margin-bottom", :role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "#{image_tag madloba_logo_file_name, class: 'madloba-img'} #{navigation_madloba_title}".html_safe, navigation_madloba_icon_path, class: 'navbar-brand'
          
  - if !setup_mode?
    #navbarCollapse.navbar-collapse.collapse.navbar-responsive-collapse

      .nav-form-center
        -# Search form - start
        = form_tag root_url, {id: 'nav_search_form', class: 'navbar-form', method: 'get', role: 'search'} do
          .form-group
            = select_tag :q, options_for_select([[t('home.searching'),'searching'], [t('home.giving'),'giving']], params['q']), class: 'form-control selectpicker'
          .form-group
            = text_field_tag :item, params[:item], class:'typeahead form-control', placeholder: t('home.search_items')
          .form-group
            = text_field_tag :location,'', class:'form-control', placeholder: t('home.location_example')
          .form-group
            = submit_tag(t('home.search'), id: 'btn_form_search', class: 'btn btn-default', name: nil)
          .form-group
            %span#search_error_message{:style => "color: #d9534f; margin-left: 5px;"}
        -# Search form - end

        %ul.nav.navbar-nav.navbar-right
          -# Sign in/Register/User drop down menu - start
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.glyphicon.glyphicon-user
                = current_user.first_name
                %b.caret
              %ul.dropdown-menu
                - if admin_panel?
                  %li= link_to t('home.page'), root_path
                - elsif current_user.user?
                  %li= link_to t('home.user_panel'), user_index_path
                - elsif current_user.admin?
                  %li= link_to t('home.admin_panel').capitalize, user_index_path
                %li= link_to t('home.log_out'), destroy_user_session_path, method: :delete
          - else
            %li
              %a#popover{:href => "#"}= t('home.sign_register')
              #popover-content.hide.popover-larger
                = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
                  = t('home.e-mail')
                  %br
                  = f.email_field :email, {size: 30}
                  %br
                  = t('home.password')
                  %br
                  = f.password_field :password, {size: 30}
                  %br
                  = f.submit t('home.sign_in').capitalize, class: 'btn btn-primary btn-xs', style: 'margin-top: 5px'
                  %br
                  %br
                  = t('home.not_have_account_yet_html', sign_up_here: "#{link_to t('home.sign_up'), new_registration_path(resource_name)}".html_safe )
                  %br
                  - if demo?
                    %br/
                    %span{:style => "font-size: 12px;"}
                      %i= t('home.demo_instructions_html', here: link_to(t('post.here'), 'https://github.com/etiennebaque/madloba/wiki/Madloba-demo-instructions', target: '_blank') )
        -# Sign in/Register/User drop down menu - end


      -# In admin panel, show admin actions in collapsed menu.
      - if admin_panel?
        %ul.nav.navbar-nav
          %li.hidden-md.hidden-lg= link_to t('admin.dashboard'), user_index_path
          - if current_user.admin?
            %li.hidden-md.hidden-lg= link_to t('admin.manage_records'), user_managerecords_path
            %li.hidden-md.hidden-lg= link_to t('admin.left_menu.manage_users'), user_manageusers_path
            %li.hidden-md.hidden-lg.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = t('admin.settings_menu')
                %b.caret
              %ul.dropdown-menu
                %li= link_to t('admin.general_settings_menu'), user_generalsettings_path
                %li= link_to t('admin.left_menu.map_settings'), user_mapsettings_path
                %li= link_to t('admin.left_menu.area_settings'), user_areasettings_path
          %li.hidden-md.hidden-lg= link_to t('admin.manage_your_posts'), user_manageposts_path
          %li.hidden-md.hidden-lg= link_to t('admin.left_menu.manage_profile'), user_manageprofile_path

  - else
    -# Setup pages - display the current step
    - if @current_step && @current_step > 0
      %span.navbar-brand= t('setup.step_html', current_step: @current_step)

- if admin_panel?
  -# Rendering admin panel, its second navigation bar and its footer in a 'ch-container' div
  = render 'shared/navigation_admin'

-# Modal popup that appears with OpenStreetMap address suggestions
#basicModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title= t('home.refine_location')
      #modal-body-id.modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('home.cancel')

- content_for :scripts do
  :javascript
    var navigation = new NavigationBar();
