- website_description = Setting.description
#sidebar.sidebar.sidebar-left.collapsed
  -# Nav tabs
  .sidebar-tabs
    %ul{role: 'tablist'}
      %li
        %a.sidebar-icon{href: '#category', role: 'tab', style: 'font-size: 20px'}
          %i.fa.fa-map-marker#sidebar_category_icon
      - if website_description.present?
        %li
          %a.sidebar-icon{href: '#about', role: 'tab'}
            %i.fa.fa-info
      %li
        %a.sidebar-icon{href: '#contact', role: 'tab'}
          %i.fa.fa-envelope

  -# Tab panes
  .sidebar-content

    -# Categories
    #category.sidebar-pane
      %h1.sidebar-header
        = site_city
        %span.sidebar-close
          %i.fa.fa-caret-left

      .inner-section
        .list-group.create-post
          %a.btn.btn-success.no-color{:href => "/posts/new"}
            %i.fa.fa-plus
            %span
              = t('home.create_new_post')

        -# Area drop down
        .list-group
          - if @areas.any?
            - select_options = {class: 'form-control area-select',
                                include_blank: '-- Move to area --'}
            - area_data = @areas.map{|a| [a.name, a.id, { 'data-latitude' => a.latitude, 'data-longitude' => a.longitude }]}
            = select_tag 'area', options_for_select(area_data), select_options

        .list-group
          - if @location_search_refinement_to_display.present?
            %h4= t('home.your_searched_location')
            %a.list-group-item.smaller-no-border-no-background{:href => "/"}
              %span= params[:loc]
              %i.glyphicon.glyphicon-remove.align-cross{:style => "float: right"}

          .searching-giving
            -# "You're searching for: / You're giving away:" refinement
            %h5.searching.hide= t('home.searching_for')
            %h5.giving.hide= t('home.giving_away')
            %a.queried-item.list-group-item.smaller-no-border-no-background.hide{:href => "/"}
              %span= params[:item].try(:capitalize)
              %i.glyphicon.glyphicon-remove.align-cross{:style => "float: right"}

        -# List of selected categories
        #refinements
          - @categories.each do |category|
            - if category.is_refinement(params)
              %a.list-group-item.smaller-no-border-no-background.guided-nav-category{:href => "#{category.refinement_url(params)}"}
                %label{:style => "width: 15px;"}
                  %i{:class => "fa #{category.icon}", :style => "color: #{category.marker_color_hexacode};"}
                %span.guided-nav-label= category.name
                %i.glyphicon.glyphicon-remove.align-cross{:style => "float: right"}

        -# Sidebar - list of Categories
        .list-group
          - if @categories.any?
            %h5= t('admin.categories')
            #available_categories
              - @categories.each do |category|
                - if !category.is_refinement(params)
                  %a.list-group-item.smaller-no-border-no-background.guided-nav-category{:href => "#", :id => "#{category.id}"}
                    %label{:style => "width: 15px;"}
                      %i{:class => "fa #{category.icon}", :style => "color: #{category.marker_color_hexacode};"}
                    %span.guided-nav-label= category.name

          - else
            .list-group
              .list-group-item.smaller-no-border-no-background
                %p= t('home.no_post')
                %p= t('home.create_an_post_now_html', create_new_post: (link_to t('home.create_new_post'), new_post_url) )


        -# Sidebar - note with some explanation, for demo only
        - if demo?
          %hr/
          .list-group
            %i= t('home.demo_sidebar_note_html', admin_panel: link_to(t('home.admin_panel'), '/user/managerecords#categories'))


    -# Contact us
    #contact.sidebar-pane
      %h1.sidebar-header
        Contact us
        %span.sidebar-close
          %i.fa.fa-caret-left

      .inner-section
        - contact_email = Setting.contact_email
        - social_medias = Setting.social_medias
        - if contact_email.present?
          .send-us-message
            %p= t('home.send_us_message')
            %p= link_to contact_email.value, "mailto:#{contact_email.value}"

        - if social_medias.any?
          .social_media
            %p
              - social_medias.each do |media|
                = link_to image_tag("#{media.key}.png", size: '40x40'), media.url, target: '_blank'

    -# About us
    - if website_description.present?
      #about.sidebar-pane
        %h1.sidebar-header
          About us
          %span.sidebar-close
            %i.fa.fa-caret-left

        .inner-section
          - website_description.each do |descr|
            %p= descr

          - if @links.any?
            %hr
            %p= 'More information:'
            %ul
              - @links.each do |link|
                - if link && link[:label] && link[:label] != ''
                  %li
                    %a{:href => "#{link[:url]}"}= link[:label]

- content_for :scripts do
  :javascript
    var sidebar = new Sidebar();
