#area_settings.middle-col.col-xs-12.col-md-10
  .row
    .box.col-md-12
      .box-inner
        .box-header.well{"data-original-title" => ""}
          %h2
            %i.glyphicon.glyphicon-globe
            = t('admin.area_settings.title')
        -# Success/Error flash messages
        - if flash[:page_error]
          .box-content.alerts
            .alert.alert-danger
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              = flash[:page_error]
        - if flash[:setting_success]
          .box-content.alerts
            .alert.alert-success
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              = flash[:setting_success]

        .box-content
          = form_tag '/user/areasettings/update', method: :post, id: 'areaSettingFormId', role: 'form' do

            #area_section
              -# Map canvas
              #area-settings-description
                %p= t('admin.area_settings.map_description')
                %p= t('admin.area_settings.map_description_2')

              #area_notification_message

              .form-inline
                #map-canvas-wrapper
                  #map.large

            %hr
            -# Submit button
            .form-actions
              = submit_tag(t('admin.save'), class: 'btn btn-success')
              %a.btn{:href => "/user/index"}= t('home.cancel')


-# "Delete category" modal window - TODO
- if Area.any?
  = render 'delete_area_modal'

%hr
- content_for :scripts do
  -# Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that creates the actual map
  = render 'shared/map_scripts'

  :javascript
    var areas = #{raw Area.all.to_json}
    var areaSettings = new AreaSettings(areas);
