#content.middle-col.col-xs-12.col-md-10
  / content starts
  / Success/Error flash messages
  - if flash[:success]
    .box-content.alerts
      .alert.alert-success
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = flash[:success]

  = t('admin.records_message')
  .row
    .box.col-md-12
      .box-inner
        .box-header.well{"data-original-title" => ""}
          %h2
            %i.glyphicon.glyphicon-align-justify
            = t('admin.manage_records')
        / Tabs
        %ul#records-tabs.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#posts"}= t('admin.posts')
          %li
            %a{"data-toggle" => "tab", :href => "#locations"}= t('admin.locations')
          %li
            %a{"data-toggle" => "tab", :href => "#items"}= t('admin.items')
          %li
            %a{"data-toggle" => "tab", :href => "#categories"}= t('admin.categories')
        / Tabs end
        / Tab panes
        .tab-content
          / Post tab pane
          #posts.tab-pane.active
            .box-content
              %table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
                %thead
                  %tr
                    %th ID
                    %th= t('admin.title')
                    %th= t('admin.category_title')
                    %th= t('admin.post.giving_accepting_title')
                    %th= t('admin.items')
                    %th= t('admin.created_by_user')
                    %th= t('admin.actions')
                %tbody
                  - Post.includes(:items).all.each do |post|
                    %tr
                      %td.vert-align= post.id
                      %td.vert-align= post.title
                      %td.vert-align= post.category.name
                      %td.vert-align= post.giving ? t('admin.post.giving_away') : t('admin.post.accepting')
                      %td.vert-align= post.item_list
                      %td.vert-align= post.email_to_display
                      %td.center
                        %a.btn.btn-info{:href => "/user/posts/#{post.id}/edit"}
                          %i.glyphicon.glyphicon-pencil
                          = t('admin.edit_delete')
          / Post tab pane end
          / Location tab pane
          #locations.tab-pane
            .box-content
              %p.left
                %a.btn.btn-success{:href => "/user/locations/new"}
                  %i.glyphicon.glyphicon-plus.icon-white
                  = t('admin.add_location')
              %table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
                %thead
                  %tr
                    %th ID
                    %th= t('admin.address')
                    %th= t('admin.exact_area')
                    %th= t('admin.created_by_user')
                    %th= t('admin.actions')
                %tbody
                  - Location.all.each do |location|
                    %tr
                      %td.vert-align= location.id
                      %td.vert-align= location.full_address
                      %td.vert-align= location.area? ? t('home.yes') : t('home.no')
                      %td.vert-align= location.user ? location.user.email : t('admin.location.anonymous_user')
                      %td.center
                        %a.btn.btn-info{:href => "/user/locations/#{location.id}/edit"}
                          %i.glyphicon.glyphicon-pencil
                          = t('admin.edit_delete')
          / Location tab pane end
          / Items tab pane
          #items.tab-pane
            .box-content
              %p.left
                %a.btn.btn-success{:href => "/user/items/new"}
                  %i.glyphicon.glyphicon-plus.icon-white
                  = t('admin.add_item')
              %table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
                %thead
                  %tr
                    %th ID
                    %th= t('admin.name')
                    %th= t('admin.actions')
                %tbody
                  - Item.all.each do |item|
                    %tr
                      %td.vert-align= item.id
                      %td.vert-align= item.name.try(:capitalize)
                      %td.center
                        %a.btn.btn-info{:href => "/user/items/#{item.id}/edit"}
                          %i.glyphicon.glyphicon-pencil
                          Edit / Show details
          / Items tab pane end

          / Categories tab pane
          #categories.tab-pane
            .box-content
              %p.left
                %a.btn.btn-success{:href => "/user/categories/new"}
                  %i.glyphicon.glyphicon-plus.icon-white
                  = t('admin.add_category')
              %table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
                %thead
                  %tr
                    %th ID
                    %th= t('admin.category_name')
                    %th= t('admin.marker')
                    %th= t('admin.icon')
                    %th= t('admin.description')
                    %th= t('admin.actions')
                %tbody
                  - Category.all.each do |category|
                    %tr
                      %td.vert-align= category.id
                      %td.vert-align= category.name
                      %td{:style => "text-align: center; vertical-align: middle;"}= image_tag "images/marker-#{category.marker_color}.png", title: category.marker_color
                      %td{:style => "text-align: center; vertical-align: middle;"}
                        %i{:class => "fa #{category.icon}", :title => "#{category.icon_name}"}
                      %td.vert-align= category.description
                      %td.vert-align
                        %a.btn.btn-info{:href => "/user/categories/#{category.id}/edit"}
                          %i.glyphicon.glyphicon-pencil
                          = t('admin.edit_delete')
