#content.middle-col.col-xs-12.col-md-10
  .row
    .box.col-md-12
      .box-inner
        .box-header.well{"data-original-title" => ""}
          %h2
            %i.glyphicon.glyphicon-map-marker
            = t('admin.map_settings.title')

        = render 'shared/flash_messages'

        - if demo?
          .box-content.alerts
            .alert.alert-info
              = t('admin.map_settings.demo_message')
        .box-content.form-inputs
          = simple_form_for @form, url: '/user/mapsettings/update', html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|

            = f.input :chosen_map, input_html: {class:'map-chosen-list', style:'width: 200px'}, label: t('admin.map_settings.type'), collection: @form.options_for_maptype_select, include_blank: false

            %hr
            %h4= t('admin.map_settings.map_api_keys')

            .form-group
              .col-sm-offset-3.col-sm-9
                %i= t('admin.map_settings.key_first')

            = f.input :mapbox_api_key, input_html: {style:'width: 400px'}, label: t('admin.map_settings.mapbox_html', account: link_to(t('admin.map_settings.account'), 'https://www.mapbox.com/studio/account/tokens/', target: '_blank')), value: demo? ? '********' : f.object.mapbox_api_key
            = f.input :mapbox_map_name, input_html: {class:'mapbox-name-list', style:'width: 200px'}, label: t('admin.map_settings.mapbox_map_name'), collection: MapTile::MAPBOX_MAPTILES, include_blank: false

            = f.input :mapquest_api_key, input_html: {style:'width: 400px'}, label: t('admin.map_settings.mapquest_html', account: link_to(t('admin.map_settings.account'), 'http://developer.mapquest.com/web/info/account/app-keys/', target: '_blank')), value: demo? ? '********' : f.object.mapquest_api_key

            %hr
            %h4= t('admin.map_settings.location_info')

            = f.hidden_field :latitude, class: 'latitude'
            = f.hidden_field :longitude, class: 'longitude'
            = f.hidden_field :demo, value: demo?

            .form-inline.form-group
              = f.label t('admin.map_settings.find_city_map'), class: 'col-sm-3 control-label'
              .col-sm-9
                = f.input :city, label: false, input_html: {class: 'location_city'}, placeholder: t('admin.map_settings.city')
                = f.input :state, label: false, input_html: {class: 'location_state'}, placeholder: t('admin.map_settings.state')
                = f.input :country, label: false, input_html: {class: 'location_country'}, placeholder: t('admin.map_settings.country')
                %a.btn.btn-info#find_geocodes_from_address{:href => "#", :style => "vertical-align: top"}
                  = t('admin.map_settings.find_city')

            = f.input :zoom_level, label: t('admin.map_settings.map_description_zoom'), input_html: {style:'width: 100px'}, class: 'zoom-level', collection: @form.options_for_zoom_level, include_blank: false

            %i= t('admin.map_settings.map_description')

            .form-inline
              #map-canvas-wrapper{style: 'margin: 20px 0px'}
                #map.medium

            = render 'shared/submit_section'


-# Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that creates the actual map
- content_for :scripts do
  = render 'shared/map_scripts', include_all_scripts: true
  :javascript
    // Giving this page the possibility to find geocodes.
    new MapSettings();


