-# For anonymous user creating posts, we're adding a note saying that they can modify their ad, if they create an account.
- if current_user.nil?
  .col-lg-12.post-non-signed-warning.alert.alert-dismissible.alert-warning{:role => "alert"}
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %p= t('post.create_account_first_html',                                                                                         |
        create_account: (link_to t('home.create_account').capitalize, new_registration_path(resource_name), class: 'alert-link'), |
        sign_in: (link_to t('home.sign_in'), new_session_path(resource_name), class: 'alert-link'))                               |

.container
  - if @post.errors.any?
    .alert.alert-dismissable.alert-danger{:style => "margin-top: 21px;"}
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong
        = t('post.error_occurred', errors: pluralize(@post.errors.count, t('home.error.one'), t('home.error.more')))
        \:
      %ul
        - @post.errors.each do |_, msg|
          %li= msg

  .row
    .col-lg-12
      = render 'user/posts/form'
      
-# Loading JS scripts
- content_for :scripts do

  -# Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that creates the actual map
  = render 'shared/map_scripts'

  :javascript
    var location_number = #{user_locations_number};
    var canPickExistingLocs = #{can_choose_existing_locations(current_user)};
    adForm = new PostForm();
