.container
  .row
    .col-lg-12
      - if @user && @user.errors.any?
        .alert.alert-danger
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          %strong
            = t('admin.users.error_setup_occured', errors: pluralize(@user.errors.count, t('home.error.one'), t('home.error.more')))
            \:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      = simple_form_for @user, url: '/setup/admin/process', :html => {:class => 'form-horizontal'} do |f|
        %fieldset
          .setup-padding
            %h3= t('setup.creation_admin')
          .col-lg-10
            -# 'Mandatory *' note
            .form-group
              .col-lg-6
                %span= t('registration.all_mandatory')
            -# E-mail
            .form-group
              = f.label :email, t('home.e-mail'), class:'col-lg-2 control-label'
              .col-lg-6
                = f.email_field :email, class: 'form-control', required: true

            -# First name
            .form-group
              = f.label :first_name, t('admin.profile.first_name'), class:'col-lg-2 control-label'
              .col-lg-6
                = f.text_field :first_name, class: 'form-control', required: true

            -# Last name
            .form-group
              = f.label :last_name, t('admin.profile.last_name'), class:'col-lg-2 control-label'
              .col-lg-6
                = f.text_field :last_name, class: 'form-control', required: true

            -# Username
            .form-group
              = f.label :username, t('admin.profile.username'), class:'col-lg-2 control-label'
              .col-lg-6
                = f.text_field :username, class: 'form-control', required: true

            -# New password
            .form-group
              = f.label :password, t('admin.profile.new_password'), class:'col-lg-2 control-label'
              .col-lg-6
                = f.password_field :password, class: 'form-control', autocomplete: 'off', required: true, minlength: 8

            -# Confirm password
            .form-group
              = f.label :password_confirmation, t('admin.profile.confirm_password'), class: 'col-lg-2 control-label'
              .col-lg-6
                = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', required: true, minlength: 8

            -# Admin role for this first user
            = f.hidden_field :role, value: 'admin'

            -# Next button / Back link
            .form-group
              .col-lg-2
              .col-lg-6{style: 'text-align: right; padding-top: 20px;'}
                %a.btn.btn-link{:href => "/setup/image"}= t('setup.back')
                = submit_tag(t('setup.next'), class: 'btn btn-success')
