.container
  .row
    .col-lg-12
      = form_tag '/setup/general/process', { class: 'form-horizontal' } do
        %fieldset
          .setup-padding
            %h3= t('setup.general_info')
          .col-lg-10
            / 'Mandatory *' note
            .form-group
              .col-lg-6
                %span= t('admin.mandatory')
            / Website name
            .form-group
              = label_tag 'app_name', "#{t('admin.general_settings.name')}(*)", class: 'col-lg-2 control-label'
              .col-lg-6
                = text_field_tag 'app_name',@settings['app_name'], class: 'form-control help-message', |
                  autofocus: true, placeholder: t('setup.name_description')                            |
            / Website description
            .form-group
              = label_tag 'description', t('admin.general_settings.description'), class: 'col-lg-2 control-label'
              .col-lg-6
                = text_area_tag 'description', @settings['description'], class: 'form-control', size: '35x8', placeholder: t('setup.description_description')
            / Next button / Back link
            .form-group
              .col-lg-8
                = submit_tag(t('setup.next'), class: 'btn btn-success pull-right')
                %a.btn.btn-link.pull-right{:href => "/setup/"}= t('setup.back')
