/ Category icon list - modal window
#myModalIcon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalIconLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3= t('admin.category.choose_icon')
      .modal-body
        %table{:border => "0", :width => "100%"}
          %colgroup
            %col{:style => "width: 25%"}/
            %col{:style => "width: 25%"}/
            %col{:style => "width: 25%"}/
            %col{:style => "width: 25%"}/
          - @icon_keyword_list.each do |keywords|
            %tr
              %td{:style => "text-align: center;"}
                %i{:class => "fa #{keywords[0]}"}
                %a.icon-for-category{:href => "#", :id => "#{keywords[0]}"}= keywords[0]
              %td{:style => "text-align: center;"}
                %i{:class => "fa #{keywords[1]}"}
                %a.icon-for-category{:href => "#", :id => "#{keywords[1]}"}= keywords[1]
              %td{:style => "text-align: center;"}
                %i{:class => "fa #{keywords[2]}"}
                %a.icon-for-category{:href => "#", :id => "#{keywords[2]}"}= keywords[2]
              %td{:style => "text-align: center;"}
                %i{:class => "fa #{keywords[3]}"}
                %a.icon-for-category{:href => "#", :id => "#{keywords[3]}"}= keywords[3]
            %tr
      .modal-footer
        %a.btn{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
