!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = favicon_link_tag 'favicon.ico'

    %title= site_name

    -# Main CSS files to be included in all pages.
    = stylesheet_link_tag 'application', media: 'all'

    -# Gon gem - managing text in JS files
    = include_gon
    = csrf_meta_tags
    = yield :head

  %body{class: (admin_panel? ? 'body-admin' : 'body-normal'), data: notifications_for(notice) }
    - if alert
      .alert.alert-dismissable.alert-danger.no-margin-bottom
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = alert
    - elsif flash[:error]
      .alert.alert-dismissable.alert-danger.no-margin-bottom
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = flash[:error]

    -# Main part of the body
    #wrap
      = render 'shared/navigation'
      = yield
      = render 'shared/footer'

    -# Javascript files to be included in all pages.
    = javascript_include_tag 'application'
    -# Javascript files specific to some pages, to be included here.
    = yield :scripts
